<!-- views/success.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Google SignIn</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <!-- load bootstrap css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- load fontawesome -->
    <style>
      body {
        padding-top: 70px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="text-primary text-center">
          <span class="fa fa-user"></span> Profile Information
        </h1>
        <div class="row">
          <div class="col-sm-6">
            <div class="well">
              <p>
                <strong>Id</strong>: <%= googleId %><br />
                <strong>Email</strong>: <%= email %><br />
                <strong>Display Name</strong>: <%= displayName %><br />
                <strong>Name</strong>: <%= firstName %><br />
                <strong>Photos</strong>: <%= image %><br />
                <strong>Created At</strong>: <%= createdAt %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
